#events{
    
        .container__titulo{
            font-size: 30px;
            padding:10px; 
        }
    
}

#events{
    .formulario{
        
        font-family: 'Courier New', Courier, monospace;
        
    }

}



#events{

        .container__fila{
            .barra{
                border: 1px solid rgb(230, 228, 250);
                width:250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

   
}