#footer{
    .container{
        .container__fila{
            .iconos{
                width: 30px; height: 30px;
            }
        }

    }
}

#footer{
    .container{
        .container__fila{
            .barra{
                border: 1px solid rgb(230, 228, 250);
                width:250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}


#footer{
    .container{
        .container__fila{
            .copyright {
                color: #095153;
                font-size: 10px;   
                .nombre{
                    color: #095153; 
                }
            }
            

        }
    }
}

#footer{
    .container{
        .container__fila{
            .copyright{
                .nombre:hover {
                    color: green;
                }
            }
        }
    }
}
