#music{
    .container{
        .container__titulo{
            font-size: 30px;
            padding:10px; 
        }
    }
}

#music{
    .container{
        .container__fila{
            .barra{
                border: 1px solid rgb(230, 228, 250);
                width:250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}