#music{
   
    padding-top: 10px;
    padding-bottom: 15px;

    
        .container__titulo{
            
            padding:10px;
            margin: 10px;  
            h2{
                font-size: 35px;
            }
        }
    
}

