@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$fontlogo: 'Oswald', sans-serif;
$fontdisco:'Montserrat', sans-serif;


/* General */
html {
    scroll-behavior: smooth;

}


body { 
    
    background: #161415 url(../images/background.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover ;

    overflow-x: hidden;
    font-family: $fontlogo;
    
    font-size: 13px;
    color:  white; 
    text-align: center;
}

.container__fila{
    .barra{
        border: 1px solid rgb(230, 228, 250);
        width:250px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* --------------Start Bottom Up Style-------------- */
.cm-up {
	display: none;
	position: fixed;
	background: #001e34;
	outline: none;
	height: 30px;
	border-radius: 50px;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
}

.cm-up .cm-text-up {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	float: left;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	transition: 0.4s;
	width: 0px;
}

.cm-up .cm-icon {
	background: #001e34;
	color: #00b2ff;
	font-size: 20px;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s
}

.cm-up:hover > .cm-icon {
	background: #fff;
}
/* --------------End Bottom Up Style-------------- */

@import "header";
@import "about";
@import "music";
@import "events";
@import "contact";
@import "footer";
@import "mediaquery";





