@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$fontlogo: 'Oswald', sans-serif;
$fontdisco:'Montserrat', sans-serif;


/* General */
html {
    scroll-behavior: smooth;

}


body { 
    
    background: #161415 url(../images/background.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover ;

    overflow-x: hidden;
    font-family: $fontlogo;
    
    font-size: 13px;
    color:  white; 
    text-align: center;
}

@import "header";
@import "about";
@import "music";
@import "events";
@import "contact";
@import "footer";
@import "mediaquery";
